/* @import url('https://fonts.googleapis.com/css2?family=Handjet:wght@300&family=Noto+Sans+Vithkuqi&display=swap'); */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  html{

    /* background-color: lime;  */
     /* intead of writing above*/
     /* @apply bg-slate-500; */
     /* font-family: 'Handjet',sans-serif; */

     
  }

  /* button {
    @apply px-3 py-2 rounded-lg transition delay-100 cursor-pointer bg-cyan-500 shadow-cyan-500/50 text-white hover:-translate-y-4 duration-100;
  } */

  h1{
    @apply text-lime-400 text-3xl lg:text-5xl;

  }

  h4{
    @apply  text-2xl text-lime-400 lg:text-3xl;
  }
}


@layer components{
  .btn-gradient-h{
    background: conic-gradient(rgba(88,175,16,1),rgba(29,128,58,1));
  }
  .btn-gradient-m{
    background: conic-gradient(rgba(136,83,252,1),rgba(110,52,226,1));

  }

 .image-item{
   margin-left: 10px!important;
 }

}
